#app {
    display: flex;
}
.side_bar-header a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 14px 0;
    text-align: center;
    border-bottom: 1px solid #ffffff6e;
}
.menu-list {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}
.menu-item {
    list-style-type: none;
    padding: 15px 20px;
    border-bottom: 1px solid #ffffff6e;
}
.menu-item a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}
.menu-link svg {
    width: 13px;
    fill: #fff;
}
.menu-list .has-child {
    position: relative;
}

.sidebar {
    flex: 0 0 280px;
    min-height: 100vh;
    background-color: #f5922f;
}
.main {
    flex: auto;
}
.header {
    height: 80px;
    padding-right: 19px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.logo {
    height: 50px;
    width: 200px;
    object-fit: cover;
}
.header_wrap {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.user-control-menu {
    position: absolute;
    padding: 5px 10px 5px 25px;
    /* display: none; */
    opacity: 0;
    transition: all 0.5s;
    background: #f5922f;
    right: 0;
    top: 63px;
}
.user-control-menu a {
    text-decoration: none;
    transition: all 0.5s;
    color: #fff !important;
    text-transform: capitalize;
}
.user-control-menu a:hover {
    font-weight: 700;
}
.header_wrap:hover > .user-control-menu {
    opacity: 1;
}
.sub-menu {
    margin-top: 5px;
    display: none;
}
.sub-menu li {
    list-style-type: none;
    padding: 5px 0;
}
.cs-form {
    width: 500px;
    margin: 20px auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}
.cs-btn {
    margin-left: auto;
    display: flex;
}
.cs-container {
    width: 800px;
    margin-top: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 10px;
}
.user-name img {
    width: 45px;
    border-radius: 50%;
    height: 45px;
}
