#app {
    display: flex;
}
.side_bar-header a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 30px;
    font-weight: bolder;
    text-transform: uppercase;
    padding: 14px 0;
    text-align: center;
    border-bottom: 1px solid #ffffff6e;
}
.menu-list {
    padding-left: 0 !important;
    margin-bottom: 0 !important;
}
.menu-item {
    list-style-type: none;
    padding: 15px 20px;
    border-bottom: 1px solid #ffffff6e;
}
.menu-item a {
    color: #fff;
    text-decoration: none;
    font-weight: bolder;
    font-size: 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    width: fit-content;
}
.sub-menu-item a:hover {
    color: #d4d4d4;
}
.menu-link svg {
    width: 13px;
    fill: #fff;
}
.menu-list .has-child {
    position: relative;
}

.sidebar {
    flex: 0 0 280px;
    min-height: 100vh;
    background-color: #f5922f;
}
.main {
    flex: auto;
}
.header {
    height: 80px;
    padding-right: 19px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: #ffffff;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.logo {
    height: 50px;
    width: 200px;
    object-fit: cover;
}
.header_wrap {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
}
.user-control-menu {
    position: absolute;
    padding: 5px 10px 5px 25px;
    /* display: none; */
    opacity: 0;
    transition: all 0.5s;
    background: #f5922f;
    right: 0;
    min-width: 170px;
    top: 63px;
    text-align: end;
}
.user-control-menu a {
    text-decoration: none;
    transition: all 0.5s;
    color: #fff !important;
    text-transform: capitalize;
}
.user-control-menu a:hover {
    font-weight: 700;
}
.header_wrap:hover > .user-control-menu {
    opacity: 1;
}
.sub-menu {
    margin-top: 5px;
    display: none;
}
.sub-menu li {
    list-style-type: none;
    padding: 5px 0;
}
.cs-form {
    width: 800px;
    margin: 20px auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}
.cs-form-small {
    width: 500px;
    margin: 20px auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 50px;
}
.cs-btn {
    margin-left: auto;
    display: flex;
}
.cs-container {
    width: 800px;
    margin-top: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 10px;
}
.cs-container-large {
    width: 1000px;
    margin-top: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px;
    border-radius: 10px;
}
.user-name img {
    width: 45px;
    border-radius: 50%;
    height: 45px;
}
.btn-box {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
}
.required {
    color: red;
}
.alert {
    position: fixed;
    top: 100px;
    right: 0;
    animation: slide-out 1s forwards; /* Apply the animation */
    opacity: 1;
    animation-delay: 3s;
}
@keyframes slide-out {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}
.box-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}
.box-header-left {
    display: flex;
    align-items: baseline;
    gap: 18px;
}
.box-header-right {
    display: flex;
}
.box-header-left a {
    padding: 3px 12px;
}
.box-header-right button svg {
    width: 16px;
    fill: #fff;
}
.box-header-right button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
.box-header-right input {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
}
#preview img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-top: 20px;
}
.show-modal-event {
    cursor: pointer;
}
.show-modal-event:hover {
    font-weight: 700;
}
.cs-modal-wrap {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #00000070;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cs-modal {
    width: 800px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
}
.cs-modal-header {
    font-size: 18px;
    margin-bottom: 20px;
}
.img-response {
    width: 150px;
    height: 150px;
}
.cs-modal-span {
    font-weight: 600;
}
.img-avatar {
    width: 55px;
    height: 55px;
    border-radius: 50%;
}
.showUserAchievement:hover {
    font-weight: 700;
    cursor: pointer;
}
#timelog-section {
    width: 80%;
    max-width: 1100px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 30px;
    margin: 40px auto;
    border-radius: 10px;
}
.timelog-header, .timelog-body-header {
    font-size: 18px;
}
.filer-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    margin: 20px 0;
    padding: 15px 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
.date-filter{
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
}
.date-filter select {
    max-width: 300px;
}

#checkinModal .input-group-text{
    border-top-right-radius: 0px ;
    border-bottom-right-radius: 0px ;
}
.list-date-table table thead th{
    font-weight: 400;
    padding-left: 25px !important;
    padding-right: 25px !important;
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    border: none;
    color: #ffffff;
    background-color: #f5922f;
    border-right: 1px solid #d3d3d3;

}
.timelog-list{
    margin-top: 20px;
}
.list-date-table table tbody tr td{
    padding: 30px 25px;
    font-size: 14px;
    font-weight: 500;
    vertical-align: middle;
    color: #5b6e88;
    text-align: center;
    border-right: 1px solid #d3d3d3;

}
.list-date-table table thead th span{
    white-space: nowrap;
}
.list_short-session-table{
    flex: 0 0  170px;
    border-right: 1px solid #d3d3d3;
}
.list_short-session-table .list_short-session-header{
    padding-top: 8px !important;
    padding-bottom: 8px !important;
    color: #ffffff;
    text-align: center;
    background-color: #f5922f;
}
.list_short-session-table .list_short-session-item{
    padding: 18.8px 25px;
    font-size: 14px;
    vertical-align: middle;
    color: #000000;
    border-bottom: 1px solid #dee2e6;
    text-align: center;
}
.active-timelog{
    background-color: #ffca00 !important;
}